.button {
  display: inline-block;
  text-decoration: none;
  background-color: #DE834D;
  color: white;
  border-radius: 30px;
  padding: 15px 24px;
  transition: 0.3s;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
  opacity: 90%;
}

.button:hover {
  background-color: #c06e3e;
}
