.fa-heart {
  color: rgb(184, 10, 10);
}

.fa-star {
  color: gold;
}

.list-horiz-align {
  display: inline-block;
  margin: 0;
  font-size: 25px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}
